<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emmes.aps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="25" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.emmes.aps.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.emmes.aps.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".APSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/pinktheme" >
        <activity
            android:name="com.emmes.aps.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.emmes.aps.DiaryActivity" >
        </activity>
        <activity
            android:name="com.emmes.aps.PINActivity"
            android:label="@string/title_activity_pin"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.emmes.aps.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.emmes.aps.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <!--
        <activity android:name="com.emmes.aps.sync.MainSyncActivity" >
        </activity>
        -->
        <activity
            android:name="com.emmes.aps.DiaryActivity"
            android:label="@string/title_activity_diary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.PINActivity" />
        </activity>
        <activity
            android:name="com.emmes.aps.SecurityQuestionsActivity"
            android:label="@string/title_activity_security_questions"
            android:parentActivityName="com.emmes.aps.PINActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.PINActivity" />
        </activity>
        <!--
        <activity
            android:name="com.emmes.aps.Medication"
            android:label="@string/title_activity_medication" >
        </activity>
        -->
        <!--
        <activity
            android:name="com.emmes.aps.OverTheCounter"
            android:label="@string/title_activity_over_the_counter" >
        </activity>
        -->
        <activity
            android:name="com.emmes.aps.PeakFlowActivity"
            android:label="@string/title_activity_peak_flow"
            android:parentActivityName="com.emmes.aps.DiaryActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.DiaryActivity" />
        </activity>
        <!--
        <activity
            android:name="com.emmes.aps.MedicationListActivity"
            android:label="@string/title_medication_list"
            android:parentActivityName="com.emmes.aps.DiaryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.DiaryActivity" />
        </activity>
        -->
        <!--
        <activity
            android:name="com.emmes.aps.MedicationDetailActivity"
            android:label="@string/title_medication_detail"
            android:parentActivityName=".MedicationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicationListActivity" />
        </activity>
        -->
        <!--
        <activity
            android:name="com.emmes.aps.medication.fragments.MedicationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.emmes.aps.medication.MedicationListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.DiaryActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.DiaryActivity" />
            <!--
                 <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.test.ActivityDummy" />
            -->
        </activity>
        <activity
            android:name="com.emmes.aps.medication.ActivityMedicationDetailView"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.medication.MedicationListActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.test.MedicationListActivity" />
        </activity>
        <activity
            android:name="com.emmes.aps.medication.ActivityDailyMedicationByDate"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.test.ActivityDummy"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.test.ActivityDummy" />
        </activity>
        <activity
            android:name="com.emmes.aps.supplement.SupplementListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.DiaryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.DiaryActivity" />
        </activity>
        <!--
        <activity
            android:name="com.emmes.aps.supplement.ActivitySupplementListView"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.DiaryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.DiaryActivity" />
        </activity>
        -->
        <activity
            android:name="com.emmes.aps.supplement.ActivitySupplementDetailView"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.supplement.SupplementListActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.suppliment.SupplementListActivity" />
        </activity>
        <!--
        <activity
            android:name="com.emmes.aps.supplement.ActivityDailySupplementByDate"
            android:label="@string/app_name"
            android:parentActivityName="com.emmes.aps.test.ActivityDummy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emmes.aps.test.ActivityDummy" />
        </activity>
        -->
        <!--
        <activity
            android:name="com.emmes.aps.test.ActivityDummy"
            android:label="@string/app_name" >
        </activity>
        -->
        
        
        <activity
            android:name="com.emmes.aps.TestActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!--
        <activity
            android:name="com.emmes.aps.locationtracking.LocationTrackingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        -->

        <provider
            android:name="com.emmes.aps.dao.DiaryProvider"
            android:authorities="com.emmes.aps" >
        </provider>

        <!--
        <service android:name="com.emmes.aps.SyncService" >
        </service>
        -->
        <service android:name="com.emmes.aps.sync.DataSyncRequest" />
        <service
            android:name="com.emmes.aps.locationtracking.ServiceLocationUpdate"
            android:enabled="true" />

        <receiver android:name="com.emmes.aps.AlarmReciever" />
        <receiver android:name="com.emmes.aps.locationtracking.LocationAlarmReceiver" />
        <receiver android:name="com.emmes.aps.ReminderNotification" />
        <receiver
            android:name="com.emmes.aps.locationtracking.LocationBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.moki.aem.receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.moki.aem.receivers.LogAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name="com.moki.aem.receivers.StatusAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name="com.moki.aem.receivers.StoreLogsAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name="com.moki.aem.receivers.HeartBeatAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name="com.moki.appregistration.receiver.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.moki.manage.MokiManangeAction" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.c2dm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.emmes.aps" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.emmes.aps" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.moki.aem.receivers.AEMCommandReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.moki.aem.aemCommandIntent" />
            </intent-filter>
        </receiver>

        <service android:name="com.moki.appregistration.C2DMReceiver" />
        <service android:name="com.moki.aem.utils.LoggingService" />
        <service
            android:name="com.moki.aem.utils.ScreenShotUtil"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.moki.screenshot" />

                <category android:name="com.moki.android.kiosk" />
            </intent-filter>
        </service>
    </application>

</manifest>